<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @budget_item.title %>
</p>

<p>
  <b>Cost per:</b>
  <%= @budget_item.cost_per %>
</p>

<p>
  <b>Quantity:</b>
  <%= @budget_item.quantity %>
</p>

<p>
  <b>Budget:</b>
  <%= @budget_item.budget %>
</p>
