<h1>Database Management</h1>
<h2>Spring 2012</h2>
<h2>Texas Southern University</h2>
<br/><br/>
<p>Data Links:</p>
<ul>
  <li><%= link_to "Accounts", accounts_path %></li>
  <li><%= link_to "Budgets", budgets_path %></li>
  <li><%= link_to "Donations", donations_path %></li>
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to "Expenses", expenses_path %></li>
  <li><%= link_to "Members", members_path %></li>
  <li><%= link_to "Ministries", ministries_path %></li>
  <li><%= link_to "Vendors", vendors_path %></li>
</ul>
