<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>State:</b>
  <%= @member.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @member.zipcode %>
</p>

<p>
  <b>Phone number:</b>
  <%= @member.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

